<!DOCTYPE html>
<html>
<head>
  <title>{{indexPageTitle}}</title>

  <meta
      name="generator" content="{{generatorUrl}}"
      data-commit-hash="{{lastCommit.hash}}"
      data-last-change="{{lastChange}}"
      data-revision="{{revision}}"
  />
</head>
<body>

{{#languages}}
<h2>{{documentTitle}} ({{languageTag}})</h2>
<ul>
  <li><a href="./{{webOutputFile}}">Webpage</a></li>
  <li><a href="./{{printOutputFile}}">Print PDF</a></li>
</ul>
{{/languages}}

</body>
</html>
