<!DOCTYPE html>
<html>
<head>
  <title>{{indexPageTitle}}</title>

  <meta
      name="generator" content="{{generatorUrl}}"
      data-commit-hash="{{lastCommit.hash}}"
      data-last-change="{{lastChange}}"
      data-revision="{{revision}}"
  />
</head>
<body>

</body>
</html>
