<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>

    {{^artifact}}
        <link href="./styles.css" rel="stylesheet" type="text/css" />
    {{/artifact}}
    {{#artifact}}
    <style type="text/css">
        {{{styles}}}
    </style>
    {{/artifact}}
</head>
<body>

{{{content}}}

</body>
</html>
